# docker-compose traefik settings:
DOMAIN={replace-me}

# geoip settings
GEOIPUPDATE_ACCOUNT_ID={replace-with-account-id}
GEOIPUPDATE_LICENSE_KEY={replace-with-license-key}

# plausible settings
ADMIN_USER_EMAIL={replace-me}
ADMIN_USER_NAME={replace-me}
ADMIN_USER_PWD={replace-me}
BASE_URL=https://{replace-me}/
DISABLE_REGISTRATION=true
SECRET_KEY_BASE={replace-me}
